.yogaimage {
    width: 25%;
}

.yoga-container{
  display: grid;
  margin: 0 auto;
  max-height: 125rem;
  grid-template-columns: auto auto auto;
  gap: 5% 1%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  min-width: 100rem;
}

.yoga-item{
    display: flex;
    flex-direction: column;
    background-color: #caf0f8;  
    align-content: center;
    height: 450px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
    border-radius: 25px;
    box-shadow: 5px 5px #48cae4;
    transition: .7s;
}
.yoga-item:hover{
  box-shadow: 5px 5px #03045e;
}
