/* header */
.header {
  font-family: 'Cookie', cursive;
  color: #ffffff;
  text-shadow: 2px 2px #03045e;
  font-size: 100px;
  text-align: center;
  padding-top: 25px;
  margin: 0 auto;
}
.header-background{
  height: 150px;
  background-color: #48cae4;
  margin: 0 auto;
}


/* nav bar */
.nav-button{
  text-align: center;
  background-color: #caf0f8;
  font-weight: bold;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 2px 2px #03045e;
  text-shadow: 2px 2px #03045e;
  font-size: 30px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  padding-bottom: 0 auto;
  text-decoration: none;
}

/* yoga list */

.yoga-list{
  margin-top: 170px;
}

/* yoga cards */
.yogaimage {
    width: 70%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.yoga-container{
  display: grid;
  margin: 0 auto;
  max-height: 125rem;
  grid-template-columns: auto auto auto;
  gap: 5% 1%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  min-width: 100rem;
}

.yoga-item{
    display: flex;
    flex-direction: column;
    background-color: #caf0f8;  
    align-content: center;
    height: 85%;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
    border-radius: 25px;
    box-shadow: 5px 5px #48cae4;
    transition: .7s;
}
.yoga-item:hover{
  box-shadow: 5px 5px #03045e;
}

.next-button{
  padding: 10px;
  justify-content: center;
  align-self: center;
  float: right;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 3%;
  margin-bottom: 5%;
  border: none;
  background-color: #03045e;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  font-size: 30px;
}


/* youtube videos */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

